
body {
    background-color: #0c0c0c;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color : white;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbarprincipale {
    display : flex;
    justify-content: space-between;
    align-items: center;    
    padding: 5px 30px 0px 30px;

}

.titre {
    color: white;
    font-size: 40px;
    font-weight: 700;

    justify-content: left;
}
.liens-navbar {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    justify-content: right;
    gap : 100px;

}




.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px; /* espace entre texte et image */
    padding: 40px 80px;
}

.div2-texte {
    text-align: center;
    margin-top: 80px;
}

.titre-div2 {
    font-size: 55px;        
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.paragraphe-div2 {
    font-size: 22px;
    color: #b3b3b3;          
    margin-bottom: 30px;
    font-weight: 400;
}

.Bouton-div2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bouton1-div2 {
    padding: 12px 28px;
    background-color: #be247e;  
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.bouton2-div2 {
    padding: 12px 28px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.div2-image img {
    width: 400px;     
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}




.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    text-align: center;
}

.div3-texte {
    max-width: 700px;
}

.titre-div3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.paragraphe-div3 {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #444;
}
